input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.shadow-sm {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-md{
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.24);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.24);
}

.shadow-lg{
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.24); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.24);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.24);
}

ul{
  list-style-type: none;
}

.notification-bubble {
  color: #212529;
  text-decoration: none;
  position: relative;
  display: inline-block;
}


.notification-bubble .badge {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -2px;
  padding-right: 4px;
  border-radius: 50%;
  background: green;
  color: white;
}
.col-md-3{
  flex: 0 0 20.0%;
  max-width:100%;
  margin-top: 10px;

}
.sub-container{
  margin-top: 50px;
}
.row{
  margin-right: 10px;
  margin-left:10px;
}

.pagination > li.active > a, .pagination > li.active > span{
  background-color:#212529 !important;
  border-color: #212529 !important;
}
